*{
    margin:0;
    padding:0 0 0 0;
}
a{
 text-decoration: none;
}
ul{
    list-style: none;
}
header{
    margin: 3rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 900;
}
.nav-items{
    display:flex;
    
}
.nav-item{
    margin-right: 1rem;
}